body, body a{
	font-family: Gill Sans, sans-serif;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.navbar{
	position: fixed;
	background-color: transparent;
	width: 100%;
	height: 60px;
	padding: 20px 0;
	top: 0;
	z-index: 999;
}

.inner-width{
	width: 90%;
	margin-left: auto;
	margin-right: auto;

}

.navbar .inner-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.out{
	background-color: #e6e1e1;
	opacity: 1;
	width: 100%;
	height: 60px;
	padding: 20px 0;
	top: 0;
}

.out .logo{
	background-image: url(shb.png);
	width: 80px;
	height: 90px;
}

.out .navbar-menu a{
	color: black;
}

.out .menu-toggler div{
	background: black;
}


.logo{
	width: 80px;
	height: 90px;
	background-image: url(shw2.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 0;
	padding-left: 0;

}



.navbar-menu a{
	color: white;
	margin-left: 30px;
	font-size: 20px;
}

.navbar-menu a:hover{
	color: #6f727d;
}

#Home{
	height: 100vh;
	background-image: url(desktop.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#Home .inner-width{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

#Home .content{
	width: 100%
}

#Home .content h1{
	font-size: 60px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.media a{
	color: white;
	font-size: 30px;
	margin-left: 5%;
	text-align: center;
}

.media a:hover{
	color: #6f727d;
	transition-duration: 0.2s;
}

#Home .buttons{
	margin-top: 5%;
}

#Home .buttons a{
	display: inline-block;
	color: white;
	margin-left: 50px;
	border: solid;
	border-color: white;
	border-radius: 10px;
	font-size: 20px;
	padding: 3px 12px;
	color: #6f727d;
	border-color: #6f727d;
}

#Home .buttons a:hover{
	background-color: #6f727d;
	color: white;
}

#Home .content h1::after{
	content: "Sherlock.";
	animation: textchange 10s linear infinite;
}

.menu-toggler{
	background: none;
	width: 50px;
	cursor: pointer;
	z-index: 999;
	border: none;
	display: none;
	outline: none;
}

.menu-toggler div{
	margin: 7px 0;
	background-color: white;
	height: 4px;
}

@keyframes textchange{
	25%{
		content: "A Data Analyst.";
	}
	50%{
		content: "A Data Scientist.";
	}
	75%{
		content: "A Personal Trainer."
	}
}



.section-title{
	text-align: center;
	font-size: 50px;
	margin-bottom: 0;
}

.underline-break{
	text-align: center;
}


.about-text h3 span:nth-child(1):after, 
.about-text h3 span:nth-child(2):after{
  content: "";
  width: 6px;
  height: 6px;
  background-color: #444;
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}

.about-pic{
	 width: 30%;
	 border-radius: 70%;
	 margin-left: 5%;
	 margin-top: 7%;
	 float: left;
	 margin-bottom: 5%;
}

.about-text{
	float: left;
	width: 60%;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 80px;

}

.about-text p{
  font-size: 20px;
  font font-family: Arial, sans-serif;
  text-align: justify;
  line-height: 50px;
  margin-top: 20px;
}

.skills{
	clear: both;
	display: flex;
	margin-left: 15%;
	margin-right: 10%;

}

#About{
	background-color: #e6e1e1;
	padding: 40px 0;
}

#Contact{
	padding-top: 40px;
	padding-bottom: 100px;
}

#Work{
	padding-top: 40px;
	padding-bottom: 100px;
	background-color: #e6e1e1;
}

#Education{
	padding-top: 40px;
	padding-bottom: 100px;
}

.skill{
	display: inline-block;
	float: left;
	margin-right: 7%;
}


.work-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 50px;
}

.service a:link{
  width: calc(33% - 20px);
  text-align: center;
  border: 1px solid #48dbfb;
  border-radius: 6px;
  margin: 20px 0;
  padding: 40px 20px;
  cursor: pointer;
  transition: .3s linear;
}

.service a:hover{
  background-color: #26a02c;
  color: white;
}

.contact-info{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.dark{
	background-color: #3c3322c7;
}



.contact-info .item{
	display: inline-block;
	border: solid;
	padding:  2% 5%;
	border-radius: 15px;
}

.contact-form{
	display: block;
}


.contact-form input, .contact-form textarea{
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 4px;
  background-color: #3c3322;
  color: white;
}

.contact-form .btn{
  width: 180px;
  background-color: transparent;
  color: #26a02c;
  font-size: 16px;
  border: 2px solid #26a02c;
  padding: 0;
  cursor: pointer;
  transition: .3s linear;
  display: block;
  float: right;
}

.contact-form .btn:hover{
  background-color: #26a02c;
  color: #fff;
}

.nameZone{
	max-width: 40vw;
}

.emailZone{
	max-width: 40vw;
	float: right;
}


.messageZone{
 	min-height: 200px;
 	resize: vertical;
}

footer{
  background: url(desktop.jpg) no-repeat bottom;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}















@media screen and (max-width: 1080px){
	
	.menu-toggler{
		display: block;
	}

	.navbar-menu{
		position: fixed;
		background-color: #6f727d;
		height: 100vh;
		width: 100%;
		max-width: 400px;
		top: 0;
		right:-100%;
		padding: 60px 0;
	}

	.navbar-menu a{
		display: block;
		font-size: 40px;
		padding: 5px 0;
		margin-left: 100px;
		margin-top: 60px;
		font-family: "Comic Sans MS", cursive, sans-serif;
	}

	.out .navbar-menu{
		background-color: #e6e1e1;
	}

	.navbar-menu.activate{
		right: 0;
	}

	.navbar-menu a:hover{
	color: black;
	}

	.about-pic{
		 display: block;
		 width: 60%;
		 border-radius: 70%;
		 margin-left: 20%;
		 margin-right: 20%;
		 margin-bottom: 5%;
}

	.about-text{
		float: left;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 5%;
		margin-bottom: 80px;

	}

	.about-text p{
	  font-size: 20px;
	  text-align: justify;
	  line-height: 30px;
	  margin-top: 20px;
	}

.skills{
	clear: both;
	display: flex;
	margin-left: 8%;
	margin-right: 10%;

}

}	
































